In [26]:
from datascience import Table

In [27]:
tableA = Table().with_columns("a", (1, 2, 3),
    "b", (11 ,12, 13),
    "c", (21, 22, 23))
tableA

a    | b    | c
1    | 11   | 21
2    | 12   | 22
3    | 13   | 23

In [30]:
tableB = Table().with_columns("a", (1, 92, 3),
    "d", (31 ,32, 33),
    "e", (41, 42, 43))
tableB

a    | d    | e
1    | 31   | 41
92   | 32   | 42
3    | 33   | 43

In [31]:
tableC = tableA.join("a", tableB)
tableC

a    | b    | c    | d    | e
1    | 11   | 21   | 31   | 41
3    | 13   | 23   | 33   | 43